* {
    color:#242424;
    font-weight: bold;
    font-family: 'Inter',sans-serif;
}

main{
    div{
        // border: 1px solid red;
        &:nth-child(1){
            flex: 2;
            ul {
                div:hover {
                    svg{
                        filter: brightness(0) saturate(100%) invert(91%) sepia(4%) saturate(125%) hue-rotate(180deg);
                    }
                }
            }
        }
        &:nth-child(2){
            flex: 1;
            // color: white;
            // background-color: #242424;
        }
    }
}
