main{
    section{
        //border: solid 1px aqua;
        &:nth-child(1){
            div{
                // border:solid 1px red;
                &#logo{
                    flex: 0.4;
                }
                &#outils{
                    flex: 1;
                }
            }
        }
        &:nth-child(2),&:nth-child(3){
            transition: transform 400ms ease;
            &.Hidden{
                transform: translateX(100%);
            }
            &.toggleHidden{
                transform: translateX(0);
                transition: transform 400ms ease;   
            }
        }
    }
}

#badge:hover{
    svg{
        filter: brightness(0) saturate(100%) invert(91%) sepia(4%) saturate(125%) hue-rotate(180deg);
    }
}

#container-icon-hidden:hover,
#container-icon-hidden-2:hover{
    svg{
        stroke: #ecf0f1;
    }
}