<main class="flex justify-start overflow-hidden w-full h-full py-2">
    <div class="container w-3/4 flex flex-col items-center rounded-r-xl overflow-hidden">
        <div class="h-full flex flex-col justify-center gap-y-5">
            <div class="w-16 h-16 rounded-lg cursor-pointer overflow-hidden"><img src="image/user-square.png"/></div>
            <div class="flex flex-col w-min">
                <p class="" >Welcom back</p>
                <p class="text-xl font-bold" >{{lastname}}</p>
            </div>
        </div>
    </div>
</main>
