<main class="w-full flex flex-col justify-center items-center py-2 ">
    <div class="overflow-hidden rounded-xl h-book w-book select-none ">
        @if (imageUrl) {
            <img class="h-full w-full" [src]='imageUrl' alt="">
        } @else {
            <p class="text-xs flex items-center text-center text-whitepropre h-full m-auto bg-primary">Aucun image disponible</p>
        }
    </div>
    <div class="w-book h-16 overflow-hidden select-none mt-1">
        <p class="text-xs font-bold line-clamp-3">{{ book.titre }}</p>
        <p class="text-[9px] font-medium text-nowrap">{{ book.auteur }}</p>
    </div>
    <div class="w-book flex flex-row justify-center rounded-xl">
        <p class="bg-blackprimary rounded-full text-[9px] px-2 select-none line-clamp-1">{{ book.genre }}</p>
    </div>
</main>