
main{
    // border: solid 1px yellow;
    section{
        &#salutation{
            color: #E1E1E1;
            // border: solid 1px red;
            flex: 1;
            div{
                background: linear-gradient(-44.05deg, rgba(225,225,225,0) 1.67%, rgba(123,123,123,0.7) 98.42%);
                backdrop-filter: blur(4px);
            }
        }
        &#form{
            color: #242424;
            // border: solid 1px blue;
            flex: 1;
            #name{
                #firstname{
                    flex: 1;
                }
                #lastname{
                    flex: 1;
                }
            }
        }
    }
}