<main class="flex flex-col w-full h-full overflow-hidden">
    <div class="flex justify-between">
        <p class=" font-bold text-lg items-center mt-1">{{ title }}</p> 
        <div class="pr-2 flex flex-row  ">
            <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [disabled]="disabled"
               [hidePageSize]="true"
               [pageIndex]="pageIndex"
            >
            </mat-paginator>

        </div>  
    </div>
    
    <div class="flex flex-row justify-center w-full h-full items-center">
        <div class="w-fit min-w-fit items-center flex flex-col justify-center" *ngFor="let book of books" >
            <app-single-book-simple [book]="book"/>
        </div>    
    </div>
    
</main>
