<main class="flex flex-col w-full h-full overflow-hidden">
    <div class="flex justify-between">
        <p class=" font-bold text-lg items-center mt-1">{{ title }}</p> 
        <div class="pr-2 flex flex-row  items-center gap-1">
            <svg 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke-width="1.5" 
                stroke="currentColor" 
                class="size-6 rounded-md p-1 hover:bg-bluehover active:bg-blueactive"
                (click)="prevPage()"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
            <svg 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke-width="1.5" 
                stroke="currentColor" 
                class="size-6 rounded-md p-1 hover:bg-bluehover active:bg-blueactive"
                (click)="nextPage()"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>              
        </div>  
    </div>
    
    <div class="flex flex-row justify-between w-full h-full items-center">
        <div 
            class="w-fit min-w-fit items-center flex flex-col justify-center px-4 hover:bg-bluehover active:bg-blueactive rounded-xl" 
            *ngFor="let book of books" >
            <app-single-book-simple [book]="book"/>
        </div>    
    </div>
    
</main>
