<main class="w-full flex flex-col gap-1 justify-center items-center px-5 py-2 rounded-xl hover:bg-bluehover active:bg-blueactive ">
    <div class="overflow-hidden rounded-xl h-book w-book select-none ">
        <img class="h-full w-full" src="assets/escarboucle bleue.jpg" alt="">
    </div>
    <div class="w-book h-16 overflow-hidden text-ellipsis text-nowrap line-clamp-2 select-none font-bold leading-none">
        {{ book.title }}
        <p class="text-sm font-medium text-nowrap mt-1">{{ book.author }}</p>
    </div>
    <div class="w-book flex flex-row justify-center rounded-xl">
        <p class="bg-blackprimary rounded-full text-xs px-2 select-none">{{ book.genre }}</p>
    </div>
</main>